body {
  background: url("./media/pexels-tirachard-kumtanom-733857.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.heading {
  color: #20262e;
  text-align: center;
  padding-top: 10px;
  font-size: 35px;
}
