body {
  background: url("./media/pexels-tirachard-kumtanom-733857.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.heading {
  color: #20262e;
  text-align: center;
  padding-top: 10px;
  font-size: 35px;
}

.info-text {
  text-align: center;
  color: #20262e;
  font-size: 18px;
}

.app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 40px;
  justify-content: center;
  padding: 50px;
}

.note {
  font-family: "Dancing Script", cursive;
  padding: 18px;
  border-radius: 15px;
  resize: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-size: 28px;
  height: 200px;
  color: #00425a;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.6);
  box-sizing: border-box; /* to remove extra size */
}

.note::placeholder {
  color: gray;
  opacity: 30%;
}

.note:hover,
.note:focus {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}

.btn {
  height: 200px;
  border-color: rgba(255, 255, 255, 0.4);
  background: #eae0da;
  border-radius: 15px;
}
