body {
  background: url("./media/pexels-tirachard-kumtanom-733857.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.heading {
  color: #20262e;
  text-align: center;
  padding-top: 10px;
  font-size: 35px;
}

.info-text {
  text-align: center;
  color: #20262e;
  font-size: 18px;
}

.app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 40px;
  justify-content: center;
  padding: 50px;
}
